%a.btn.btn-primary.btn-sm{"aria-controls" => "collapseComment", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseComment", :role => "button"}
  Post a Comment
#collapseComment.collapse
  .well
    = form_for [ @article, @comment ] do |f|
      %p
        = f.label :body
        %br/
        = f.text_area :body
      %p
        = f.submit 'Submit'
