.container
  .row
    .col-md-6
      .articles
        %p.articles-link
          = link_to 'Create new article', new_article_path
        %h1.srticles-title All Articles
        %ul.articles-list
          - @articles.each do |article|
            %li.articles-list_element= link_to article.title, article_path(article)
