.container
  .row
    .col-md-12
      .tags
        %p
          = link_to "back to articles list", articles_path
        %h2
          List of all tags:
        %ul.tags__list
        - @tags.each do |tag|
          %li.btn.btn-default= link_to "(#{tag.articles.size}) #{tag.name} ", tag_path(tag)