.container
  .row
    .col-md-6
      .tag
        %h1.tag-title
          Articless tagged with #{@tag.name}
        %ul.tag-articles
          - @tag.articles.each do |article|
            %li= link_to article.title, article_path(article)
