.container
  .row
    .col-md-6
      .tag
        %p
          = link_to 'Back to tag list', tags_path
        %h2.tag-title
          Articless tagged with #{@tag.name}
        .tag-articles
          %ul.tag-articles-list
            - @tag.articles.each do |article|
              %li.tag-articles-list_element= link_to article.title, article_path(article)
