.article{
  &__post{
    background-color: #eeeeee;
    padding:20px;
    &__title{
      color: #666666;
      margin-bottom:40px;
    }
    &__image{
      width: 80%;
      margin: 20px auto;
    }
    &__body{
      min-width: 300px;
      min-height: 200px;
      background-color: #cdcdcd;
      padding:20px;
    }
  }
}

.articles{
  background-color: #eeeeee;
  padding:20px;
  &__title{
    color: #666666;
    margin-bottom:40px;
  }
  &__list{
     min-width: 300px;
     min-height: 200px;
     background-color: #cdcdcd;
     padding:20px;
  }
  &__list__element{
  list-style: none;
  font-size:1.2em;
  }
}






