.login-form {
  background-color: #eeeeee;
  padding:20px;

  &__title{
    color: #666666;
    margin-bottom:40px;
  }

  &__email-label {
    min-width: 90px;
  }

  &__password-label {
    min-width: 90px;
  }

}

.register-bar{
  background-color: #d9d9d9;
  padding:10px;
  &__link{
    margin: 8px;
    font-weight: bold;
    font-size:16px;
  }
}